@import 'src/styles/colors';
@import 'src/styles/typography';
@import 'src/styles/mixins';

.container {
  @include flex-block;

  margin-bottom: 136px;

  .title {
    @include typography($fs: $font-size-x, $lh: $line-height-m, $fw: $font-weight-bold);

    margin-bottom: 40px;
  }

  .image_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media screen and (width <= 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (width <= 992px) and (width >= 768px) {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <= 1200px) and (width >= 992px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .image_container {
    position: relative;
    display: inline-block;
    width: 288px;
    height: 288px;

    .image {
      display: block;
      width: 288px;
      height: 288px;

      @media screen and (width <= 768px) {
        width: 100%;
      }

      @media screen and (width <= 992px) and (width >= 768px) {
        width: 288px;
      }
    }

    .text_overlay {
      @include typography($fs: $font-size-xs, $lh: $line-height-s, $fw: $font-weight-bold);

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 288px;
      height: 100%;
      padding: 129px 69px 104px;

      color: $color-light-100;
      text-align: center;

      opacity: 0;
      background-color: rgb(0 0 0 / 80%);

      transition: opacity 0.3s;

      @media screen and (width <= 768px) {
        width: 100%;
      }
    }

    @media screen and (width <= 768px) {
      width: 100%;
      margin: 0 25px 15px;
    }

    @media screen and (width <= 992px) and (width >= 768px) {
      width: 100%;
      margin: 0;
    }
  }
}

.image_container:hover .text_overlay {
  opacity: 1;
}
