@import '../../styles/colors';
@import '../../styles/typography';
@import '../../styles/mixins';

.container {
  position: absolute;
  z-index: 1;
  top: 17%;
  right: 18%;

  width: 600px;
  padding: 30px 105px 39px 44px;

  background-color: $color-light-100;

  .title {
    @include typography($fs: $font-size-ll, $lh: $line-height-m, $fw: $font-weight-regular);

    margin-bottom: 44px;

    @media screen and (width <= 768px) {
      @include typography($fs: $font-size-l, $lh: $line-height-m, $fw: $font-weight-regular);

      margin-bottom: 30px;
      text-align: center;
    }
  }

  .form {
    position: relative;
    display: flex;
    flex-direction: column;

    .input {
      @include typography($fs: $font-size-m, $lh: $line-height-m, $fw: $font-weight-regular);

      margin-bottom: 24px;
      padding: 13px 0 13px 44px;

      color: rgb(0 0 0 / 50%);

      background-color: $color-light-800;
      border: none;

      @media screen and (width <= 768px) {
        @include typography($fs: $font-size-s, $lh: $line-height-m, $fw: $font-weight-regular);

        margin-bottom: 18px;
        padding: 10px;
      }
    }

    .checkbox_box {
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 1.2em;

      .checkbox_input {
        position: absolute;
        appearance: none;
      }

      .checkbox {
        position: absolute;

        width: 50px;
        height: 50px;
        margin-left: -1.8em;

        background-image: url('../../assets/icons/маркер 1.jpg');
      }

      .checkbox_input:checked + .checkbox {
        background-image: url('../../assets/icons/Галочка 1.jpg');
      }

      .text {
        @include typography($fs: $font-size-m, $lh: $line-height-m, $fw: $font-weight-regular);

        padding-left: 20px;
        color: rgb(0 0 0 / 50%);
      }
    }

    .button {
      @include typography($fs: $font-size-sm, $lh: $line-height-m, $fw: $font-weight-minimum);

      position: absolute;
      top: 104%;
      left: 63%;

      padding: 17px 96px 17px 127px;

      color: $color-light-100;

      background-color: $color-dark-800;
      box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

      @media screen and (width <= 768px) {
        @include typography($fs: $font-size-m, $lh: $line-height-m, $fw: $font-weight-regular);

        top: 111%;
        left: 35%;

        width: 200px;
        margin-bottom: 18px;
        padding: 15px 20px;
      }

      @media screen and (width <= 992px) and (width >= 768px) {
        @include typography($fs: $font-size-sm, $lh: $line-height-m, $fw: $font-weight-xx-bold);

        top: 105%;
        left: 60%;

        width: 220px;
        margin-bottom: 18px;
        padding: 25px 30px;
      }
    }
  }

  @media screen and (width <= 768px) {
    top: 17%;
    right: 11%;
    width: 300px;
    padding: 30px;
  }

  @media screen and (width <= 992px) and (width >= 768px) {
    top: 17%;
    right: 20%;
    width: 500px;
    padding: 30px;
  }
}
