$font-family-primary: 'Nunito';

// line heights
$line-height-s: 16px;
$line-height-m: 24px;
$line-height-l: 128px;
$line-height-xl: 220px;

// font sizes
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 17px;
$font-size-sm: 21px;
$font-size-l: 26px;
$font-size-ll: 40px;
$font-size-x: 40px;
$font-size-xl: 64px;
$font-size-xxl: 128px;
$font-size-xxxl: 250px;

// font weights
$font-weight-minimum: 300;
$font-weight-regular: 400;
$font-weight-h3-large: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-xx-bold: 900;
