@import 'src/styles/colors';
@import 'src/styles/typography';
@import 'src/styles/mixins';

.container {
  background-color: $color-dark-900;

  .logo {
    @include typography($fs: $font-size-xl, $lh: $line-height-m, $fw: $font-weight-regular);

    padding: 24px 0 25px 315px;
    font-family: Inter, system-ui;
    color: $color-light-100;

    @media screen and (width <= 768px) {
      @include typography($fs: $font-size-ll, $lh: $line-height-m, $fw: $font-weight-regular);

      padding: 24px 0 25px 25px;
    }

    @media screen and (width <= 992px) and (width >= 768px) {
      @include typography($fs: $font-size-xl, $lh: $line-height-m, $fw: $font-weight-regular);

      padding: 24px 0 25px 115px;
    }
  }
}
